<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    <link rel="stylesheet" href="static/homepage.css">
    <title>Tiara Survival</title>
</head>
<body>
    <div class="heading">
        <!-- <h1>SURVIVAL</h1> -->
        <img src="static/images/survivalhead.png" alt="heading" id="heading" class="heading"> 
    </div>
    <div class="about">
        <img src="static/images/pngwing.com.png" alt="ship's wheel" id="shipwheel" class="shipwheel"> 
        <p class="para"><br>Hey Coders, <br>Welcome to Greed Island!<br>Let's head on a journey to find the treasure and a way to survive the Survival. Buckle up and code your way through the three waves to emerge victorious. <br><br></p>
    </div>
    <br><br>
    <section class="part2">
        <div class="poster">
            <!-- <img src="http://via.placeholder.com/1000x480" alt=""> -->
            <img src="static/images/poster.png" alt="">
        </div>
    </section>
    <br><br>
    <section>
        <div class="gamestart">
            <form action="/challenge1" method="post">
                <input type="text" id="teamName" name="teamName" hidden>
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text" onclick="promptTeam();">Let's Begin</span>
                  </button>
            </form>
        </div>
    </section>
    <script>
        function promptTeam() {

            let person = prompt("Please enter your Team Name", "John Doe");
            if (person == null || person == "") {
                promptTeam();
            } else {
            document.getElementById("teamName").value = person
            }
        }
    </script>
</body>
</html>