<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Memory Game</title>

  <link rel="stylesheet" href="static/mem.css">
</head>
<body>

  <section class="memory-game">
    {% set count = namespace(value=0) %}
    {% for logo in logos %}
    <div class="memory-card" data-framework="{{ count.value }}">
        <img class="front-face" src="static/images/{{logo}}" alt="logo" />
        <img class="back-face" src="static/images/gonhxh.png" alt="hxh card" />
    </div>
    <div class="memory-card" data-framework="{{ count.value }}">
        <img class="front-face" src="static/images/{{logo}}" alt="logo" />
        <img class="back-face" src="static/images/gonhxh.png" alt="hxh card" />
    </div>
    {% set count.value = count.value + 1 %}
    {% endfor %}
  </section> 

  <div class="modal" id="modal">		
    <div class="modal-wrap" id="modal-wrap">	
    <img src="static/images/drawing.png" alt="">
      <!-- <h1>GAME OVER</h1>          		
      <p>Next Challenge in 3 seconds</p> -->
      <!-- <button type="button" data-dismiss="modal">Close</button> -->
    </div>			          		
  </div>	
  
  <script src="static/mem.js">
    // let maxCount = 1;
  </script>
</body>
</html>
